:root {
    --primary: #004895;
    --primaryText: #707070;
    --white: #ffffff;
    --black: #000000;
    --green: #3FA300;
    --title-color: #697CA2;
    --light-blue: #F5F7FC;
    --light-green: #F2FFEF;
    --fontSize: 16px;
    --fontMain: 'Source Sans Pro', sans-serif;
}